.container{
    max-width: 1200px;
    width:100%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.row > * {
    width: calc(25% - 20px);
    padding: 0 20px;
    border:1px solid #222;
    box-sizing: border-box;
}