.container{
    max-width: 1200px;
    width:100%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    font-family: sans-serif;
}
.row{
    display: flex;
    margin: 0 -20px;
    flex-wrap: wrap;
}
.row > * {
    margin:20px;
    padding:20px;
    width: 25%;
    box-sizing: border-box;
    border:1px solid #222;
}